body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.img {
    width: 200;
}

.bold {
    font-weight: bold;
    font-size: 17px;
}

.bold2 {
    font-weight: bold;
    font-size: 14px;
}

.company-info, .contact-info, .order-info {
    text-align: left;
}

.contacts td {
    padding-top: 10px;
}

p {
    margin: 5px 0;
}

strong {
    font-weight: bold;
}

a {
    color: #0000EE;
    text-decoration: none;
}


.table-header {
    background-color: #b4c6e7; /* Cor de fundo do cabeçalho */
}
.table-cell {
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda das células */
    text-align: left; /* Alinhamento do texto */
}
.table-row:nth-child(even) {
    background-color: #e9e9e9; /* Cor de fundo para linhas pares */
}
