body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-size: 12px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.header .logo {
    flex: 1;
    text-align: left;
}

.header .logo img {
    max-height: 60px;
}

.header .company-info {
    flex: 2;
    text-align: center;
    font-size: 12px;

}

.header .contact-info {
    flex: 1;
    text-align: right;
    font-size: 12px;
}

.purchase-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.purchase-order .left h3,
.purchase-order .center p,
.purchase-order .right p {
    margin: 0;
}

.purchase-order .left {
    flex: 1;
    text-align: left;
}

.purchase-order .center {
    flex: 1;
    text-align: center;
}

.purchase-order .right {
    flex: 1;
    text-align: right;
}

.highlight {
    background-color: #b4c6e7;
    color: black;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
}

/* Seção dos dados do fornecedor */
.supplier-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #b4c6e7; /* Cor de fundo especificada */
}

.supplier-info .left,
.supplier-info .center,
.supplier-info .right {
    flex: 1;
    text-align: left; /* Todos alinhados à esquerda */
}

.supplier-info .center {
    text-align: center;
}

.supplier-info .right {
    text-align: right;
}

.supplier-info p {
    margin: 5px 0;
}

.order-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white; /* Fundo branco */
}

.order-message .left {
    flex: 1;
    text-align: left;
}

.order-message .right {
    flex: 1;
    text-align: right;
}

.order-message p {
    margin: 0; /* Remove margens para melhor alinhamento */
}


.product-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.product-table th, .product-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.product-table th {
    background-color: #b4c6e7; /* Cor de fundo para cabeçalho */
}

.product-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Linhas pares com fundo claro */
}



.payment-summary {
    background-color: white;
    padding: 10px;
    margin-top: 10px; /* Espaço acima da linha */
}

.payment-condition, .freight, .total {
    flex: 1; /* Distribui o espaço igualmente */
}

.general-conditions {
    display: flex;
    margin-top: 20px; /* Adicionando margem */
    margin-left:8px;

}

.space-strong{
    margin-left:150px;
}

.additional-info {
    background-color: #b4c6e7; /* Cor de fundo */
    padding: 10px; /* Opcional: Adicionando padding */
    margin-top: 10px; /* Opcional: Espaçamento acima */
}

.additional-info p {
    margin: 5px 0; /* Espaçamento entre parágrafos */
}


.observacao {
    padding: 10px; /* Paddings padrão */
    color: red; /* Cor vermelha */
}

.obs-box {
    background-color: #b4c6e7; /* Cor de fundo */
    padding: 10px; /* Paddings padrão */
    margin-top: 10px; /* Espaçamento acima */
}

.consid {
    padding: 10px; /* Paddings padrão */
    margin-top: 10px; /* Espaçamento acima */
}

.contacts {
    display: flex;
    justify-content: space-between;
    padding: 10px; /* Paddings padrão */
    margin-top: 10px;
}

.contact {
    text-align: left;
}

.contact a {
    color: blue;
    text-decoration: underline;
}




